.lifeplus-sidebar{
    margin-left: -30%;
}

.lifeplus-sidebar-toggle{
    margin-left: 0px;
}

.sidebar-btn {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    margin-right:10px;
    border: 0px solid;
    background-color : transparent;
    /*border-radius: 10px;*/
}

.sidebar-btn:focus {
    outline: 0;
}

.sidebar-btn:hover {
    background-color: #F89900;
}

.hidden {
    width: 10;
    mergin-left: 0;
}

.row div {
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}

#side-menu li i{
    margin-right: 10px;
    color: #FF8800;
}

.ggg {
    margin-right: 10px;
}
