<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LifePlus 雲端生活家</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'einvoice/sb/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'einvoice/sb/css/plugins/metisMenu/metisMenu.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'einvoice/sb/css/plugins/timeline.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'einvoice/sb/css/sb-admin-2.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'einvoice/sb/css/plugins/morris.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'einvoice/sb/font-awesome-4.1.0/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'einvoice/css/einvoice.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->

    <!--&lt;!&ndash; MetisMenu CSS &ndash;&gt;-->
    <!--<link href="css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">-->

    <!--&lt;!&ndash; Timeline CSS &ndash;&gt;-->
    <!--<link href="css/plugins/timeline.css" rel="stylesheet">-->

    <!--&lt;!&ndash; Custom CSS &ndash;&gt;-->
    <!--<link href="css/sb-admin-2.css" rel="stylesheet">-->

    <!--&lt;!&ndash; Morris Charts CSS &ndash;&gt;-->
    <!--<link href="css/plugins/morris.css" rel="stylesheet">-->

    <!--&lt;!&ndash; Custom Fonts &ndash;&gt;-->
    <!--<link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<script src="{% static 'einvoice/sb/js/jquery.js' %}" ></script>
<script src="{% static 'einvoice/sb/js/bootstrap.min.js' %}" ></script>
<script src="{% static 'einvoice/sb/js/plugins/metisMenu/metisMenu.min.js' %}" ></script>
<!--<script src="{% static 'css/sb/js/plugins/morris/raphael.min.js' %}" ></script>-->
<!--<script src="{% static 'css/sb/js/plugins/morris/morris.min.js' %}" ></script>-->
<!--<script src="{% static 'css/sb/js/plugins/morris/morris-data.js' %}" ></script>-->
<script src="{% static 'einvoice/sb/js/sb-admin-2.js' %}" ></script>
<script src="{% static 'einvoice/js/einvoice.js' %}" ></script>

<div id="wrapper" class="container app">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
<div class="navbar-header">
    <button type="button" id="sidebar-btn" class="sidebar-btn fa fa-bars"></button>
    <a class="navbar-brand" href="{{ EINVOICE_URL }}">LifePlus 發票網</a>
    <span class="navbar-brand">歡迎回來!! {{ user.user_group.acl_group.name }}: {{ user.username }} </span>
</div>
<!-- /.navbar-header -->

<ul class="nav navbar-top-links navbar-right">
<!-- /.dropdown -->
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-alerts">
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-comment fa-fw"></i> New Comment
                    <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                    <span class="pull-right text-muted small">12 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                    <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-tasks fa-fw"></i> New Task
                    <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                    <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="text-center" href="#">
                <strong>See All Alerts</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
    <!-- /.dropdown-alerts -->
</li>
<!-- /.dropdown -->
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
        </li>
        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li class="divider"></li>
        <li><a href="{{ EINVOICE_URL }}logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
    </ul>
    <!-- /.dropdown-user -->
</li>
<!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->

    <!-- /.sidebar-collapse -->

<!-- /.navbar-static-side -->
</nav>
    <div class="row">
        <div id="sidebar" class="col-md-3 lifeplus-sidebar">
            <ul class="nav" id="side-menu">
                <li>
                    <a class="active" href="{{ EINVOICE_URL }}"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-user fa-fw"></i>帳號管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ EINVOICE_URL }}register/super" ><i class="fa fa-caret-right fa-fw"></i>新增 Super 帳號</a>
                        </li>
                        <li>
                            <a href="{{ EINVOICE_URL }}register/manager"><i class="fa fa-caret-right fa-fw"></i>新增最高權限帳號</a>
                        </li>
                        <li>
                            <a href="{{ EINVOICE_URL }}register/staff"><i class="fa fa-caret-right fa-fw"></i>新增一般權限帳號</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i>組織管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ EINVOICE_URL }}group1/add/" ><i class="fa fa-caret-right fa-fw"></i>新增群一</a>
                        </li>
                        <li>
                            <a href="{{ EINVOICE_URL }}group2/add/" ><i class="fa fa-caret-right fa-fw"></i>新增群二</a>
                        </li>
                        <li>
                            <a href="{{ EINVOICE_URL }}terminal/add/" ><i class="fa fa-caret-right fa-fw"></i>新增店家</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a class="active" href="{{ EINVOICE_URL }}terminal/add/"><i class="fa fa-home fa-fw"></i>新增店家</a>
                </li>
                <li>
                    <a class="active" href="{{ EINVOICE_URL }}report/"><i class="fa fa-list-alt fa-fw"></i>電子發票</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="flot.html">Flot Charts</a>
                        </li>
                        <li>
                            <a href="morris.html">Morris.js Charts</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="{{ EINVOICE_URL }}tables"><i class="fa fa-table fa-fw"></i> Tables</a>
                </li>
                <li>
                    <a href="{{ EINVOICE_URL }}forms"><i class="fa fa-edit fa-fw"></i> Forms</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="panels-wells.html">Panels and Wells</a>
                        </li>
                        <li>
                            <a href="buttons.html">Buttons</a>
                        </li>
                        <li>
                            <a href="notifications.html">Notifications</a>
                        </li>
                        <li>
                            <a href="typography.html">Typography</a>
                        </li>
                        <li>
                            <a href="grid.html">Grid</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="blank.html">Blank Page</a>
                        </li>
                        <li>
                            <a href="login.html">Login Page</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>

{% block page %}{% endblock %}

    </div>
<!-- /#page-wrapper -->
</div>


<!-- /#wrapper -->
<!-- jQuery -->
<!--<script src="js/jquery.js"></script>-->

<!--&lt;!&ndash; Bootstrap Core JavaScript &ndash;&gt;-->
<!--<script src="js/bootstrap.min.js"></script>-->

<!--&lt;!&ndash; Metis Menu Plugin JavaScript &ndash;&gt;-->
<!--<script src="js/plugins/metisMenu/metisMenu.min.js"></script>-->

<!--&lt;!&ndash; Morris Charts JavaScript &ndash;&gt;-->
<!--<script src="js/plugins/morris/raphael.min.js"></script>-->
<!--<script src="js/plugins/morris/morris.min.js"></script>-->
<!--<script src="js/plugins/morris/morris-data.js"></script>-->

<!--&lt;!&ndash; Custom Theme JavaScript &ndash;&gt;-->
<!--<script src="js/sb-admin-2.js"></script>-->

</body>

</html>
