{% extends "einvoice/base.html" %}

{% block page %}
<div id="page-wrapper" class="col-md-12">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">新增一般權限</h1>
        </div>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if user_form.errors.items %}
    <!-- error panel-->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body has-error">
                    <p class="control-label">錯誤訊息: </p>
                    {% for field, errors in user_form.errors.items %}
                    {% for error in errors %}
                    <p class="control-label">{{ field }}: {{ error }}</p>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form id="staff-form" action="" method="post">
                        {% csrf_token %}
                        <!--{{ form }}-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="id_username" >帳號</label>
                                    <input id="id_user-username" name="user-username" class="form-control">
                                </div>
                                <div id="id_ubn_div" class="form-group">
                                    <label class="control-label" for="id_email">E-mail</label>
                                    <input id="id_user-email" name="user-email" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="id_password1" >密碼</label>
                                    <input id="id_user-password1" name="user-password1" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="id_password2" >密碼確認</label>
                                    <input id="id_user-password2" name="user-password2" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="tree">
                                    <ul>
                                        <li>
                                            <span><i class=""></i>雲端生活家</span>
                                            <ul>
                                                <li>
                                                    <span><i class=""></i>北區</span>
                                                    <ul>
                                                        <li>
                                                            <span class="leaf"><i class="fa fa-home fa-fw"></i>雲端南港店</span>
                                                            <input type="hidden" name="lifeplus" value="true">
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <span class="leaf"><i class="fa fa-home fa-fw"></i>台北車站</span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                            <input id="submit-button" type="submit" value="OK">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="tree">
                <ul>
                    <li>
                        <span><i class=""></i>雲端生活家</span>
                        <ul>
                            <li>
                                <span><i class=""></i>北區</span>
                                <ul>
                                    <li>
                                        <span class="leaf"><i class="fa fa-home fa-fw"></i>雲端南港店</span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="leaf"><i class="fa fa-home fa-fw"></i>台北車站</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--<table class="tree">-->
                <!--<tr class="treegrid-1">-->
                    <!--<td>Root node</td><td><input type="checkbox" value=""></td>-->
                <!--</tr>-->
                <!--<tr class="treegrid-2 treegrid-parent-1">-->
                    <!--<td>Node 1-1</td><td>Additional info</td>-->
                <!--</tr>-->
                <!--<tr class="treegrid-3 treegrid-parent-1">-->
                    <!--<td>Node 1-2</td><td>Additional info</td>-->
                <!--</tr>-->
                <!--<tr class="treegrid-4 treegrid-parent-3">-->
                    <!--<td>Node 1-2-1</td><td>Additional info</td>-->
                <!--</tr>-->
            <!--</table>-->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'einvoice/newtree/css/tree.css' %}" />
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/css/checkbox.css' %}" />-->
<script src="{% static 'einvoice/newtree/js/tree.js' %}" ></script>
<script src="{% static 'einvoice/js/base_register-staff.js' %}" ></script>
<!--<script src="{% static 'css/tree/js/jquery.treegrid.js' %}" ></script>-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/tree/css/jquery.treegrid.css' %}" />-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/tree/css/styles.css' %}" />-->

<!--<script type="text/javascript">-->
    <!--$('.tree').treegrid();-->
<!--</script>-->
{% endblock %}